# Python Backend
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Database
*.sql#
*.sqlite3

# Node/React Frontend
dashboard/node_modules/
dashboard/dist/
dashboard/.env
dashboard/.env.local

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
